﻿<div class="row">
    <div class="col-md-6 left-pane">
        <div class="control-group">
            <label class="control-label" for="RegNumber">Registration number</label>
            <div class="controls">
                <input id="RegNumber" name="RegNumber" type="text" placeholder="Vehicle registration..." class="input-medium form-control" value="SK55XDH">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="StockRef">Stock Reference Number</label>
            <div class="controls">
                <input id="StockRef" name="StockRef" type="text" placeholder="Stock reference..." class="input-medium form-control" value="ARNEB-U-12486">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="GetImages"></label>
            <div class="controls">
                <button id="GetImages" name="GetImages" class="btn btn-primary">Search for images</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 right-pane">
        <div class="control-group">
            <label class="control-label" for="RegNumber">Registration number</label>
            <div class="controls">
                <select id="VehicleList" class="form-control">
                    <optgroup label="Vehicles">
                        <option>Please select...</option>
                        <option>2004 (04) Citroen C2 1.1i SX 3dr, SL04 YYV, ARNEB-U-12568</option>
                        <option>2004 (54) Nissan Micra 1.2 S 5dr, WU54 JYL, ARNFH-U-9013</option>
                        <option>2005 (05) Vauxhall Corsa 1.3 CDTi SXi 5dr, KL05 OSB, ARNBU-U-133540</option>
                        <option>2007 (07) Renault Clio 1.2 Campus 2007 3dr, TF07 HLV, ARNFB-U-11317</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="GetImages"></label>
            <div class="controls">
                <button id="GetVehicles" class="btn btn-primary">View pre-defined images</button>
            </div>
        </div>
        <div class="control-group">
            <div id="error" class="alert alert-warning" role="alert">
                Please select a vehicle from the list, or enter a stock reference and registration.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="results"></div>
    </div>
</div>