﻿<div class="col-lg-12">
    <h1 class="page-header">
        <small>Select a vehicle from the dropdown list, or enter the registration number and stock reference number to view available images.</small>
    </h1>
</div>