﻿/* STYLE OVER-RIDES FROM STANDARD BOOTSTRAP */

#error{
    display: none;
}

.left-pane, .right-pane {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    background: #d9d9d9;
    width: 48%;
    margin-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 15em;
}

.page-header {
    margin-top: 2em;
}

#results {
    text-align: center;
    margin-top: 2em;
}

.vehicleImg {
    padding: 0.5em;
}

#error {
    margin-top: 1em;
}

@media screen and (max-width: 990px) {
    .col-md-6 {
        width: 100%;
    }

    .row {
        margin-right: 15px;
        margin-left: -15px;
    }

    .right-pane {
        margin-top: 1em;
    }
}
